h1,h2,h3,h4,h5,h6{
  font-family: $font-family-primary;
}

p{
  font-family: $font-family-secondary;
  font-weight: normal;
}

.hidden{
  display: none;
}

a{
  text-decoration: none;
  color: white;
  :hover{
    color: white;
  }
  :active{
    color: white;
  }
}

.btn-default{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: $color-purple;
  color: $color-white;
  border-radius: 10rem;
  border: 2px solid $color-white;
  p{
    margin: 0;
    padding: 0;
  }
  img{
    width: 1.5rem;
  }
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover{
    border-color: $color-purple;
    background-color: $color-white;
    p{
      color: $color-purple;
    }
  }
}

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(lg) {
  .btn-default{
    padding: 1rem 1rem;
  }
}